.alarm-page {
  padding: 0px;
}

.alarm-icon-container {
  margin-top: 10px; /* Moved the container closer to the top */
  text-align: center;
  opacity: 90%;
}

.alarm-page-title {
  font-size: 2em;
  font-weight: bold;
}

