.alarm-page {
  padding: 0px;
}

.alarm-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 0 20px;
}

.alarm-page-title {
  font-size: 2em;
  font-weight: bold;
}

.add-alarm-button {
  font-size: 2em;
  padding: 10px;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-alarm-button:hover {
  background-color: #f1f1f1;
}

.alarm-list {
  margin-top: 20px;
  padding: 0 20px;
}

.alarm-item {
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.alarm-title-time {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.alarm-title {
  font-size: 1.6em;
  font-weight: bold;
  color: black;
  margin: 0;
}

.alarm-time {
  font-size: 1.4em;
  font-weight: bold;
  color: black;
  text-align: center;
}

.alarm-description-frequency {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.alarm-description {
  font-size: 1.2em;
  color: #555;
  margin: 0;
}

.alarm-frequency {
  font-size: 1em;
  color: #777;
  text-align: right;
  margin: 0;
}

.alarm-sound {
  font-size: 1em;
  color: #777;
  text-align: right;
  margin-top: 10px;
}

.alarm-toggle {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  margin-left: 20px;
}

.alarm-toggle input {
  display: none;
}

.alarm-toggle .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: background-color 0.4s;
  border-radius: 25px;
}

.alarm-toggle .slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  background-color: white;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: transform 0.4s;
}

.alarm-toggle input:checked + .slider {
  background-color: #66bb6a;
}

.alarm-toggle input:checked + .slider:before {
  transform: translateX(25px);
}
