.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;    
    max-width: 300px;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    font-size: 1.2em; /* Increase font size for labels */
    margin-bottom: 5px;
}

.input-field {
    font-size: 1.1em; /* Increase font size for inputs */
    padding: 10px;
    width: 100%; /* Make inputs the same width */
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.login-button {
    font-size: 1.1em;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: auto; /* Adjust the width to fit the content */
    max-width: 300px; /* Prevent it from getting too wide */
    margin: 20px auto 0; /* Center the button and add top margin */
}

.login-button:hover {
    background-color: #45a049;
}
