/* Global Body Styles */
body {
    background-color: #e5e5e5;
  }
  
  /* General App Styling */
  .App {
    font-family: sans-serif;
    text-align: center;
  }
  
  /* Music Player Component */
  .component {
    background-color: rgb(56, 44, 84);
    width: 25%;
    max-width: 600px;
    margin: 1em auto;
    padding-bottom: 2em;
    border: 0.1px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for a 3D effect */
  }
  
  /* Music Cover Image */
  .musicCover {
    border-radius: 10%;
    max-width: 80%; /* Ensure the image is responsive */
    height: auto;
  }
  
  /* Play/Pause Button Styling */
  .playButton {
    background: none;
    border: none;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease; /* Smooth transition on hover */
  }
  
  /* Play Button Hover Effect */
  .playButton:hover {
    cursor: pointer;
    opacity: 0.7;
  }
  
  /* Subtitle Styling */
  .subTitle {
    margin-top: -1em;
    color: #4f4f4f;
  }
  
  /* Time and Progress Bar */
  .time {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    color: #828282;
    font-size: smaller;
  }
  
  .timeline {
    width: 80%;
    background-color: #27ae60;
  }
  
  /* Range Slider (Timeline) */
  input[type="range"] {
    background-color: #27ae60;
    border-radius: 10px;
    height: 6px;
    width: 100%;
    transition: background-color 0.3s ease;
  }
  
  /* Custom Range Styling for Different Browsers */
  input[type="range"]::-webkit-slider-runnable-track {
    background-color: #ddd;  /* Light gray for the unfilled part */
    height: 6px;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    background-color: #27ae60;  /* Green for the thumb */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: none;
  }
  
  input[type="range"]::-moz-range-track {
    background-color: #ddd;  /* Light gray for the unfilled part */
    height: 6px;
  }
  
  input[type="range"]::-moz-range-thumb {
    background-color: #27ae60;  /* Green for the thumb */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: none;
  }
  
  /* Responsive Adjustments for Medium Screens */
  @media (max-width: 900px) {
    .component {
      width: 50%;
    }
  }
  
  /* Responsive Adjustments for Small Screens */
  @media (max-width: 600px) {
    .component {
      width: 90%;
    }
  
    .musicCover {
      width: 50%; /* Scale down the music cover image on mobile */
      margin-bottom: 10px;
    }
  
    .title {
      font-size: 1.2em;
    }
  
    .subTitle {
      font-size: 0.9em;
    }
  }
  