/* General container styling */
.music-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    color: white;
  }
  
  /* Title styling */
  .music-title {
    margin-bottom: 20px;
  }
  
  /* Button container styling */
  .button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
  }
  
  /* White Noise Button */
  .white-noise-button {
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    background-color: #aeCCE4;
    color: white;
    border: none;
    border-radius: 5px;
    width: 200px;
    transition: background-color 0.3s;
  }
  
  /* Import Playlist Button */
  .import-playlist-button {
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    transition: background-color 0.3s;
  }
  
  /* Hidden file input */
  .hidden-input {
    display: none;
  }
  
  /* Playlist Display */
  .playlist {
    margin-top: 20px;
  }
  
  .playlist-button {
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  /* Audio Container */
  .audio-container {
    margin-top: 20px;
  }
  
  /* White Noise Status */
  .white-noise-status {
    margin-top: 15px;
    font-size: 14px;
    color: white;
  }