p {
    font: 10;
}

h2 {
    color: blue;
}

.Comps {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.item {
    background-color: beige;
    border: 1px solid rgb(224, 202, 202);
    border-radius: 20px;
    color: red;
    margin: 5%;
}
