p {
    font: 10;
}

h2 {
    color: blue;
}

.Comps {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.item {
    background-color: beige;
    border: 1px solid rgb(224, 202, 202);
    border-radius: 20px;
    color: red;
    margin: 5%;
}

.weekLog {
    text-align: left;
}

.item .smallInput {
    width: 120px; /* Adjust width as needed */
    height: 20px; /* Adjust height as needed */
    font-size: 12px; /* Optional: Adjust font size for better fit */
    padding: 2px; /* Optional: Adjust padding */
    margin-right: 5px; /* Optional: Add spacing between elements */
}

.feedback h2 {
    color: white;
}

