.button-text {
    color: #001f3f;
    font-size: 26px; 
    text-align: center;
    margin: 0;
    padding: 0;
}

.welcome_page-div .applet {
    background-color: #FFFFFF;
    color: #001f3f;
    border-radius: 15px; 
    width: 140px; 
    height: 55px; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin: 15px; 
    cursor: pointer;
    transition: all 0.3s ease; 
}

.welcome_page-div .applet:hover {
    background-color: #E6E6E6;
    color: #001f3f;
    transform: scale(1.1); 
}
